[Desktop Entry]
Version=3.5.2
Name=Feishin
Comment=A modern self-hosted music player
Exec={{ feishin_bin_path }} %U
Icon={{ feishin_install_dir }}/feishin.png
Terminal=false
StartupWMClass=Feishin Music Player
Type=Application
Categories=Application;Audio