[Desktop Entry]
Version=3.5.2
Name=Feishin
Comment=A modern self-hosted music player
Exec=/usr/local/bin/feishin %U
Icon=/opt/feishin/feishin.png
Terminal=false
StartupWMClass=Feishin Music Player
Type=Application
Categories=Application;Audio